##########################################
# Command files and assembly list files  #
##########################################
*.com
*.lst

##########################################
# Build folder                           #
##########################################
[Bb][Uu][Ii][Ll][Dd]/
